.notbpad {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

body {
  
  background-color: #2D5286 !important;
  font-family: "Poppins", sans-serif;
}

/*Navigation Bar */
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #2D5286 !important;
}
.navbar-brand img 
{
  height: 100px;
  padding-left: 2 0px;
  position: absolute;
  
  top: 2;
}

.navbar-nav li
{
  padding: 5 10px;
}

.navbar-nav li a
{
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover
{
  color: #2A9C46!important;
}

.navbar
{
  background: #fff;
  background-color: #2D5286 !important;
}

.navbar-toggler
{
border: none!important;
}

.nav-link
{
  color: white !important;
  font-weight: 600;
  font-size: 16px;
}

select{
  width: 100% !important;
  padding: 15px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif !important;
  border: none !important;
  border-radius: 8px !important;
  

}












.calculator {
  padding: 20px 0 0 0;
}

.calcTitle {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 1.5rem;
}

.container {
  background: #2D5286 !important;
  background: linear-gradient(270deg, #5195AE 0%, #4C75B8 100%);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 900px;
  color: #E8E9ED;
}

.resultModule {
  max-width: 400px;
  box-sizing: border-box;
  margin: 15px auto 0 auto;
  background-color: #232323;
  border-radius: 8px;
  padding: 15px 20px 10px 20px;
}

.totalPayment h5 {
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
}
.totalPayment p {
  text-align: center;
  font-size: 0.85rem;
  font-weight: 200;
  margin-top: 4px;
  margin-bottom: 8px;
}

table.calcResults {
  font-size: 19px;
  font-weight: 300;
  color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}
table.calcResults tr {
  padding: 0;
}
table.calcResults tr td {
  border: 0;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.widget {
  background-color: #232323;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
  padding: 8px 0 20px 0;
}
.widget table {
  color: #E8E9ED;
}
.widget table tr td {
  border: 0;
}
.widget .grid{
  max-width: 450px;
  margin: 0 auto;
}
.widget .grid .loanAmount:before {
  content: "£";
}
.widget .grid h6 {
  font-size: 1.8rem;
}
.widget .grid input {
  margin-top: -20px;
}

.widget .total-payment{
  max-width: 450px;
  margin: 0 auto;
}

.slider, .rangeslider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #5195AE;
  background: linear-gradient(270deg, #5195AE 0%, #4C75B8 100%);
}

.rangeslider__handle::-moz-range-thumb, .slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #232323;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  border: 6px solid #E8E9ED;
  cursor: pointer;
}

.rangeslider__handle::-webkit-slider-thumb, .slider::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #232323;
  border: 6px solid #E8E9ED;
  -webkit-appearance: none;
  margin-top: -6.25px;
}

.slider::-webkit-slider-thumb {
  margin-top: -10px;
}

.rangeslider::-moz-range-progress, .slider::-moz-range-progress, .rangeslider--horizontal::-moz-range-progress {
  background: #5195AE;
  background: linear-gradient(270deg, #5195AE 0%, #4C75B8 100%);
  height: 7px;
  border-radius: 7px;
}

.rangeslider--disabled::-moz-range-track, .slider::-moz-range-track {
  background-color: #333333;
  border: 0;
  outline: none;
  height: 2px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    padding: 1rem;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    background: #5195AE;
    background: linear-gradient(270deg, #5195AE 0%, #4C75B8 100%);
    border-radius: 10px;
  }

  .slider::-webkit-slider-runnable-track {
    margin-top: -1px;
    -webkit-appearance: none;
    background: #5195AE;
    background: linear-gradient(270deg, #5195AE 0%, #4C75B8 100%);
    height: 7px;
    border-radius: 7px;
  }

  .loanModule span {
  font-size: 0.85rem;
  color: #4d4d4d;
  font-weight: 600;
}

.loanCalcSubmit {
  background: #5195AE;
  background: linear-gradient(270deg, #5195AE 0%, #4C75B8 100%);
  color: #E8E9ED;
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;  

}

.loanCalcSubmit:hover {
  color: #232323;
}

.navbar-brand img 
{
  height: 30px;
  padding-left: 2 0px;  
  top: 2;
}
